/* p-access
--------------------------- */
@use "./../../foundation/system" as s;

.p-access {
	&.c-section {
		background-color: s.$c-base-sub;
	}
	position: relative;
	z-index: 0;
	&:before {
		content: "";
		z-index: -1;
		position: absolute;
		top: 0;
		right: 0;
		width: 100vw;
		height: 100%;
		background-color: s.$c-base;
	}

	&__map {
		width: 100%;
		height: 48vh;
		border: 0;
	}

	@include s.breakpoint(tablet) {
		&:before {
			width: 96vw;
		}
	}
	@include s.breakpoint(pc) {
	}
}
