/* c-section
--------------------------- */
@use "./../../foundation/system" as s;

.c-section {
	background-color: s.$c-base-sub;
	padding: 120px 0;
	&:nth-of-type(even) {
		background-color: s.$c-base;
	}
	&--bg {
		height: 80vh;
		background-image: url(./../img/cafe3.jpg);
		background-size: cover;
		background-position: center;
		background-attachment: fixed;
		background-repeat: no-repeat;

		position: relative;
		z-index: 0;
		&:before {
			content: "";
			position: absolute;
			height: 100%;
			width: 100%;
			background-color: rgba($color: s.$c-base, $alpha: 0.6);
			z-index: -1;
		}
	}

	&__inner {
		@include s.content-maxwidth();
		margin: 0 auto;
		padding: 10px 20px;
	}
	&__title {
		font-size: 2.8rem;
		font-weight: 700;
		letter-spacing: 2px;
		padding-top: 50px;
		padding-left: 30px;
		margin: 0 auto 12px;

		position: relative;
		&:before {
			content: attr(data-en);
			position: absolute;
			transform: rotate(-5deg);
			top: -20px;
			left: 0;
			color: rgba($color: s.$c-accent, $alpha: 0.4);
			font-size: 80px;
			font-weight: 400;
			@include s.accentfont(bold);
			font-style: italic;
		}
	}
	&__title--center {
		@extend .c-section__title;
		text-align: center;
		padding-left: 0;
		&:before {
			right: 0;
		}

		& + .c-section__lead {
			@extend .c-section__lead;
			text-align: center;
		}
	}
	&__lead {
		padding-left: 30px;
		margin: 0 auto 32px;
	}
	&__block {
		margin: 32px auto;
	}

	@include s.breakpoint(tablet) {
	}
	@include s.breakpoint(pc) {
	}
}
